*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hanken Grotesk", sans-serif;
}

img,
picture,
video,
canvas,
svg {
  max-inline-size: 100%;
  block-size: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ol,
ul {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
  background: none;
}

.sr-only {
  height: 0;
  width: 0;
  visibility: hidden;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 15px;
}

.card {
  max-width: 100%;
  width: 735px;
  display: flex;
  align-items: center;
  border-radius: 35px;
  box-shadow: 15px 15px 80px -25px rgba(0, 0, 0, 0.15);
}

@media (max-width: 830px) {
  .card {
    flex-direction: column;
  }
  .summary {
    width: 100% !important;
  }
  .result {
    width: 100% !important;
  }
}
.result {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  width: 52%;
  text-align: center;
  border-radius: 30px;
  padding-block: 40px 60px;
  padding-inline: 50px;
}
.result .result_span {
  font-size: 24px;
  font-weight: 500;
  color: hsl(241, 100%, 89%);
}
.result .score {
  margin-block: 30px 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(hsl(256, 72%, 46%), hsla(241, 72%, 46%, 0));
  border-radius: 50%;
  height: 200px;
  width: 200px;
}
.result .score span {
  color: hsl(0, 0%, 100%);
  font-size: 72px;
  font-weight: 550;
}
.result .score p {
  font-size: 18px;
  font-weight: 500;
  color: hsl(241, 100%, 89%);
  opacity: 0.6;
}
.result h2 {
  color: hsl(0, 0%, 100%);
  font-weight: 500;
  font-size: 32px;
  margin-bottom: 10px;
}
.result .score_txt {
  color: hsl(241, 100%, 89%);
  font-size: 17.6px;
}

.summary {
  width: 52%;
  padding: 45px 40px;
}
.summary h2 {
  font-size: 24px;
  color: hsl(224, 30%, 27%);
  margin-bottom: 22px;
}
.summary .sum_list {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.summary .sum_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 15px 18px;
  border-radius: 10px;
}
.summary .sum_item:nth-child(1) {
  background-color: hsla(0, 100%, 67%, 0.08);
}
.summary .sum_item:nth-child(2) {
  background-color: hsla(39, 100%, 56%, 0.08);
}
.summary .sum_item:nth-child(3) {
  background-color: hsla(166, 100%, 37%, 0.08);
}
.summary .sum_item:nth-child(4) {
  background-color: hsla(234, 85%, 45%, 0.08);
}
.summary .left {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 18.4px;
}
.summary .left .red {
  color: hsl(0, 100%, 67%);
}
.summary .left .yellow {
  color: hsl(39, 100%, 56%);
}
.summary .left .green {
  color: hsl(166, 100%, 37%);
}
.summary .left .purple {
  color: hsl(234, 85%, 45%);
}
.summary .total_score {
  font-size: 18.4px;
}
.summary .total_score p {
  color: hsl(224, 30%, 27%);
  font-weight: 600;
}
.summary .total_score span {
  opacity: 0.4;
}
.summary .btn_continue {
  position: relative;
  font-size: 17.6px;
  width: 100%;
  margin-top: 30px;
  padding: 17px;
  border-radius: 30px;
  background: hsl(224, 30%, 27%);
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  overflow: hidden;
  z-index: 0;
}
.summary .btn_continue::before {
  content: "";
  top: 0;
  left: -100%;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, hsl(252, 94%, 63%) 0%, rgb(46, 43, 233) 100%);
  z-index: -1;
  border-radius: 30px;
  transition: 0.2s;
}
.summary .btn_continue:hover::before {
  left: 0;
}

.preloader {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100%;
  background: linear-gradient(100deg, hsl(256, 72%, 46%), hsl(252, 100%, 67%));
  z-index: 9199;
}

/*# sourceMappingURL=main.css.map */
